@font-face{
    font-family: mainfont;
    src: url(../fonts/aron_grotesque_regular.ttf);
}
html{
  height: 100%;
  width: 100%;
}
body {
  height: 100%;
  width: 100%;
  font-family: mainfont;
}
a {
  color: black;
}
nav.col-lg-12{
  background-image: url(http://orientation.blog.lemonde.fr/files/2014/04/Isep-b%C3%A2timent-Paris.jpg)!important;
  background-repeat: no-repeat;
  background-position: center;
	background-size: cover;
	height: 200px;
}
section.col-lg-9{
  position: relative;
  height: 200px;
}
.nav-tabs.nav-justified{
  position: absolute;
  bottom: 0px;
}
.bar.active{
	background: white;
	opacity:1;
}
.bar{
	background: #F7F9F9;
	opacity: 0.9;
	border-radius: 2px;
	color: black;
}
nav.col-lg-3{
  max-width: 250px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-right: auto;
  margin-left: auto;
}
[class*="col-"]{
  /*border: 2px solid black;
  border-radius: 6px;
  line-height: 40px;*/
  text-align: center;
  font-family: mainfont;
}
.row{
  margin: auto;
  margin-left: auto;
  margin-right: auto;
  font-family: mainfont;
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
  font-family: mainfont;
  height: 100%;
  width: 100%;
}
.nav-tabs > li, .nav-pills > li {
    float:none;
    display:inline-block;
}
.nav-tabs, .nav-pills {
    text-align:center;
}
div.tab-content{
  min-height: 100%;
  padding-top: 10px;
  text-align: justify;
  font-family: mainfont;
  padding-bottom: 10px;
}
div.modal-content{
  text-align: left;
  font-family: mainfont;
}
h4#myModalLabel{
  text-align: center;
  font-family: mainfont;
}
.petitePhotoProfil{
  width: 3em;
  max-width: 20%;
}
h2{
  text-align: center;
}
/* .btn{
  background-color: black;
  color: white;
  transition: all 0.3s ease 0s;
}
.btn:hover{
  border-color: black;
  background-color:white;
  color: black;
  transition: all 0.3s ease 0s;
}
.btn.deco{
  background: rgb(210,98,98);
  color: white;
  transition: all 0.3s ease 0s
}
.btn.deco:hover{
  background-color:rgb(210,98,98,0.5);
  transition: all 0.3s ease 0s;
} */

.nomCompetence, .nomInteret{
	position : relative;
	margin-right : 15px;
}

.boutonSupprimerCompetence, .boutonSupprimerInteret{
   position:absolute;
   top: -5px;
   right: -3px;
   width : 5px;
   height : 5px;
}

legend.addBtn{
  position: relative;
}
img.addBtn{
  width:25px;
  position: absolute;
  right: 0;
  cursor: pointer;
  padding-top: 5px;
}
.supprBtn{
  width: 18px;
  cursor: pointer;
  margin-left: 5px;
}

.supprBtnPetit{
	width: 12px;
  	cursor: pointer;
}

.boutonAjoutCompetenceEleve{
  background: url("${pageContext.request.contextPath}/assets/images/suppr.png"*);
  border: none;
  width: 18px;
  cursor: pointer;
  margin-left: 5px;
}
div.radio{
  text-align: center;
}
img{
  width: 13%;
}
img.img-rounded.img-responsive{
  width: 70%;
  max-width: 50%;
  margin-right: auto;
  margin-left: auto;
}

.ajoutComp{
	width:90%;
  margin-right: auto;
  margin-left: auto;
}
.selectComp{
  width:45%;
  margin-right: auto;
  margin-left: auto;
}
.ajoutExperienceDiv{
	display: flex;
	justify-content: space-between;
  margin-top: auto;
  margin-bottom: auto;
}
.col-lg-4{
	padding-top: 8px;
}
.logoIsep{
  paddin-top: 3px;
  width: inherit;
}
.logoIsemploi{
  width: 18%;
  padding-bottom: 3px;
}
footer{
  background:#F7F9F9;
  width:100%;
  font-family: mainfont;
  height: 50px;
  position: absolute;
  bottom: 0;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
