body {
  padding-top: 10px;
  background-image: url(assets/plage-de-tahiti-c3a0-carantec.jpg);
  background-repeat: no-repeat;
	background-size: cover;
  width: 100%;
  height: auto;
}

[class*="col-"], footer {
  border: 2px solid black;
  border-radius: 6px;
  line-height: 40px;
  text-align: center;
}

form.col-lg-6{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.row{
  margin: auto;
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
}

input.form-control{
  width: 200px;
  margin: auto;
}

button{
  border-radius: 6px;
  background-color: white;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
